table {
	position:absolute;
	top: 1; 
	bottom: 0; 
	left: 0; 
	right: 1; 
	width:100%; 
	height:90%;
}

button {
	padding-right: 250px;
	padding-left: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 500px;
	border-radius: 5px;
	font-size: 13px;
}
td {
	width: 766px;
	height: 741px;
}
.side {
	height: 100%;
	overflow:auto;
}
.level {
	padding-right: 250px;
	padding-left: 250px;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 5px;
	font-size: 25px;
	color: red;
}
.win {
	margin: 250px;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	border-radius: 5px;
	font-size: 48px;
	color: green;
	background: lightgreen;
}

.lost {
	margin: 250px;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	border-radius: 5px;
	font-size: 48px;
	color: red;
	background: lightred;
}
