/* body {
	background: #ffcda0;
}
form {
	font-size: 20px;
	font-family: sans-serif;
	background: #723881;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 280px;
	margin-right: 550px;
	margin-left: 550px;
	text-align: center;
	border: double;
	border-radius: 15px;
}

input {
	margin: 5px;
	border-radius: 10px;
	
}

label {
	margin: 5px;
	font-family: sans-serif;
}
.submit {
	background: #e0e0e0;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
li {
	font-size: 20px;
	background: #9f6565;
	text-align: center;
	border: groove;
	border-radius: 15px;
	padding: 20px;
	margin-top: 10px;
	margin-left: 500px;
	margin-right: 500px;
	list-style-type: none;

} */
html{
	height: 100%;

}
body {
	height: 100%;
	background-image: url("1.jpg");
	background-size: 100% 100%;
}

.container-fluid {
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: center;
	align-items: center;	
}
form {
	font-size: 20px;
	font-family: sans-serif;
	background: #9cf196;
	border-radius: 15px;
}
.submit {
	border: double;
	background: black;
	border-radius: 30px;
}
li {
	background: #9cf196;
	text-align: center;
	border-radius: 15px;
	padding: 25px;
	margin: 10px;
	margin-left: 200px;
	margin-right: 200px;
	list-style-type: none;

}

@media screen and (max-width: 800px)  {
  

	li {
		margin-left: 50px;
		margin-right: 50px;
	}
	
  }